
@font-face {
  font-family: "GothaPro";
  font-weight: bold;
  src: url("/f/fonts/GothaProBol.otf") format("opentype");
}
@font-face {
  font-family: "GothaPro";
  src: url("/f/fonts/GothaProMed.otf") format("opentype");
}
@font-face {
  font-family: "HelveticaNeue";
  font-weight: lighter;
  src: url("/f/fonts/HelveticaNeueCyr-Roman.otf") format("opentype");
}

body {
  font: normal 16px'GothaPro', sans-serif;
  min-height:100%;
	height:auto !important;
	height:100%;
	margin:0 auto -100px;
}
p {
	margin: 0;
}
.clearfix{*zoom:1}
.clearfix:before,
.clearfix:after{display:table;line-height:0;content:""}
.clearfix:after{clear:both}
[class^='iconize-'], [class*=' iconize-'] {
  position: relative;
  display: inline-block;
}
[class^='iconize-']:before, [class*=' iconize-']:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: '';
  background: url('/f/i/icons.png') -9999px -9999px no-repeat;
}
.link, .link:focus {
  font: 16px'GothaPro', sans-serif;
  color: #000;
  cursor: pointer;
  letter-spacing: .2em;
  text-decoration: none;
  border-bottom: 1px solid;
}
.link:hover {
  color: #ff007e;
  text-decoration: none;
}
.b-wrap {
	padding: 75px 30px 0;
	min-width: 1000px;
	max-width: 1920px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}
.b-main {	
	position: relative;
	padding-left: 180px;
	-webkit-transition: padding-left 0.1s ease;
  -moz-transition: padding-left 0.1s ease;
  -o-transition: padding-left 0.1s ease;
  -ms-transition: padding-left 0.1s ease;
  transition: padding-left 0.1s ease;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.b-main_norm {
	width: 100% !important;
}
@media (min-width: 1250px) {
	.b-main {
		width: 100% !important;
	}
}
.b-main_active {
	padding-left: 180px !important;
}
.b-menu-wrap {
	width: 180px;
  position: absolute;
  top: 125px;
  left: 0;
  z-index: 10;
  display: block;
}
.b-main_active .b-menu-wrap {
	display: block;
}
@media (max-width: 1250px) {
	.b-main {	
		padding-left: 0;
	}
	.b-menu-wrap {
		display: none;
	}
}
.b-menu {
  padding: 0;
  margin: 0;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 35px;
  margin-top: -30px;
}
.b-menu__item {
  list-style: none;
  position: relative;
  letter-spacing: .02em;
  text-transform: uppercase;
  margin-top: 31px;
}
.b-menu__item a {
	font-weight: bold;
}
.b-menu__item a:hover .b-menu__item-link{
	color: #ff007e;
}
.iconize-b-arrow {
  margin-right: 16px;
}
.iconize-b-arrow:before {
  width: 9px;
  height: 6px;
  top: -9px;
  left: auto;
  right: -13px;
  background: url(/f/i/icons.png);
  background-position: 0 0;
}
.iconize-link a:hover .iconize-b-arrow:before {
  background-position: 0 -6px;
}
.b-menu__sub-menu {
  list-style: none;
  padding: 0;
  padding-top: 15px;
  width: 180px;
}
.b-menu__sub-menu li {
  position: relative;
  margin-bottom: 15px;
  z-index: 20;
}
.b-menu__sub-menu li a,
.b-menu__sub-menu li a:focus{
  letter-spacing: normal;
  text-transform: none;
  font: 16px/1.5em 'HelveticaNeue', sans-serif;
  font-weight: normal;
}
.b-menu__sub-menu li a:hover {
	color: #ff007e !important;
}
.b-menu__item:hover .b-menu__sub-menu li a {
  color: #000;
}
.b-social_top {

}
.b-social__btn {
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  background: url(/f/i/soc.png);
  margin-right: 10px;
  cursor: pointer;
}
.b-social__btn_vk {
  background-position: 0 0;
}
.b-social__btn_vk:hover {
  background-position: 0 -20px;
}
.b-social__btn_fb {
  background-position: -20px 0;
}
.b-social__btn_fb:hover {
  background-position: -20px -20px;
}
.b-social__btn_tw {
  background-position: -40px 0;
}
.b-social__btn_tw:hover {
  background-position: -40px -20px;
}
.b-header {
  position: relative;
	height: 125px;
}
.b-header__logo {
	float: left;
  position: relative;
  padding-top: 5px;
}
.b-header__site-link {
  display: block;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
}
.b-header__text {
  font: 400 16px 'Roboto', sans-serif;
  margin: 0;
  letter-spacing: .015em;
}
.b-header__logo_image {
  display: inline-block;
}
.b-header__logo-add {
	overflow: hidden;
	padding-right: 10px;
	padding-top: 5px;
}
.b-logo-add {
	display: table;
	width: 100%;
}
.b-logo-add__row {
	display: table-row;
}
.b-logo-add__item {
	display: table-cell;
	width: 25px;
	height: 20px;
	padding-left: 10px;
}
.b-logo-add__item_1 {
	width: 25%;
}
.b-logo-add__item_2 {
	width: 18%;
}
.b-logo-add__item_3 {
	width: 22%;
}
.b-logo-add__item_4 {
	width: 35%;
}
.b-header__contact-us {
  font-weight: bold;
  text-transform: uppercase;
  float: right;
  padding-top: 15px;
}
.b-logo-add__line {
	border-bottom: 5px solid;
  overflow: hidden;
  padding-top: 19px;
}
.b-logo-add__ico-wrap {
	height: 48px;
	float: right;
	margin-left: 10px;
	position: relative;
}
.b-logo-add__ico {
	background: url(/f/i/icons.png);
	background-position: -50px 0;
	width: 41px;
	height: 41px;
}
.b-logo-add__item_2 .b-logo-add__ico {
	background-position: -91px 0;
	width: 48px;
	height: 48px;
	margin-top: -4px;
}
.b-logo-add__item_3 .b-logo-add__ico {
	background-position: -139px 0;
	width: 43px;
	height: 46px;
	margin-top: -3px;
}
.b-logo-add__item_4 .b-logo-add__ico {
	background-position: -184px 0;
	width: 43px;
	height: 44px;
}
.b-analyst {
  width: 100%;
  background: url(/f/i/banner2.gif) repeat-x;
  height: 410px;
  position: relative;
  margin-bottom: 55px;
}
.b-analyst__content {
	padding: 35px 40px 0 82px;
}
.b-analyst__text-wrap {
	width: 400px;
	float: left;
	padding-top: 0;
}
.b-analyst__title {
	margin-bottom: 35px;
}
.b-analyst__title p {
  font: bold 50px/.5em 'GothaPro';
  margin-top: 50px;
}
.b-analyst__text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: .05em;
  line-height: 28px;
}
.b-sprite {
	display: inline-block;
	vertical-align: top;
}
.b-analyst__sprites {
  padding: 65px 0 0 65px;
  overflow: hidden;
  height: 220px;
}
.b-sprite__item {
  width: 40px;
  height: 40px;
  background: url(/f/i/analyst_sprite.png);
  background-position: 0 0;
  margin-bottom: 50px;
  margin-left: 40px;
}
.b-sprite__item_mid {
	margin-left: 0;
}
.b-projects {
	margin-bottom: 60px;
	height: 580px;
	overflow: hidden;
}
.b-projects_small {
	height: 300px;
}
.b-projects__title {
  font: bold 16px "GothaPro";
  color: #000;
  letter-spacing: .2em;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 40px;
}
.b-projects__holder {
	max-width: 500px;
	cursor: pointer;
}

.b-projects__holder:hover .b-projects__subtitle{
	color: #ff007e;
}
.b-projects__item {
	min-width: 420px;
	height: 230px;
	display: inline-block;
	vertical-align: top;
	text-align: right;
	position: relative;
	z-index: 1;
	width: 33.333333%;
	padding-right: 50px;
	margin-bottom: 40px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
@media (max-width: 1700px) {
	.b-projects__item {
		width: 50%;
	}
}
.b-projects__back {
	width: 390px;
	height: 230px;
	background: url(/f/i/tile1.png) repeat;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
.b-projects__holder:hover .b-projects__back {
	background: url(/f/i/tile1-hover.png) repeat;
}
.b-projects__holder:hover .b-projects__back:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(/f/i/project-border.png);
}
.b-projects__back_2 {
	background: url(/f/i/tile2.png) repeat;
}
.b-projects__holder:hover .b-projects__back_2 {
	background: url(/f/i/tile2-hover.png) repeat;
}
.b-projects__back_3 {
	background: url(/f/i/tile3.png) repeat;
}
.b-projects__holder:hover .b-projects__back_3 {
	background: url(/f/i/tile3-hover.png) repeat;
}
.b-projects__back_4 {
	background: url(/f/i/tile4.png) repeat;
}
.b-projects__holder:hover .b-projects__back_4 {
	background: url(/f/i/tile4-hover.png) repeat;
}
.b-projects__name {
	width: 220px;	
	display: inline-block;
	margin-top: 45px;
	z-index: 10;
	text-align: left;
}
.b-projects__subtitle {
	font: 30px "GothaPro";
  font-weight: bold;
  letter-spacing: .05em;
  display: inline;
}
.b-projects__text {
	font: 16px/30px 'HelveticaNeue', sans-serif;
	letter-spacing: .05em;
	padding-top: 10px;
}
.b-projects__img {
	position: absolute;
	left: 40px;
	top: 50px;
	width: 150px;
	height: 150px;
	text-align: left;
}
.b-wedo {
  position: relative;
  background: url(/f/i/banner1.gif) repeat-x;
  height: 570px;
  padding: 10px 30px 30px;
  margin-bottom: 15px;
}
.b-wedo__text {
	width: 650px;
	float: right;
	padding-top: 50px;
}
.b-wedo__text,
.b-wedo__text .link{
	font: bold 50px/1.5em 'GothaPro';
	letter-spacing: .05em;
}

.b-wedo__sprites {
	overflow: hidden;
	padding: 100px 50px 0 30px;
	height: 400px;
}
.b-sprite_plus .b-sprite__item {
  background: url(/f/i/we_do_sprite.png);
  background-position: 0 0;
  margin-bottom: 40px;
}
.b-blog {
	overflow: hidden;
	margin-bottom: 40px;
}
.b-blog__item {
  margin-right: 20px;
  margin-bottom: 30px;
}
.b-blog__title {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 30px;
}

.b-blog__item {
	display: inline-block;
	vertical-align: top;
  width: 240px;
}
.b-blog__subtitle,
.b-blog__subtitle:focus {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: normal;
  display: inline;
}
.b-blog__text {
  font: 16px/30px 'HelveticaNeue', sans-serif;
  letter-spacing: .05em;
  color: #000;
  margin-top: 10px;
}
.b-footer {
	min-height: 100px;
}
.b-footer__info {
  font: 16px 'HelveticaNeue', sans-serif;
  color: #000;
  letter-spacing: .05em;
  display: inline-block;
  vertical-align: top;
  line-height: 24px;
}
.b-footer__info p {
	padding-top: 10px;
}
.b-social_bottom {
  float: right;
  display: inline-block;
  vertical-align: top;
}
@media (max-width: 1250px) {
	.b-menu-btn.b-menu-btn_active {
		display: block;
	}
}
.b-menu-btn {
	cursor: pointer;
	display: none; 
	float: left;
	margin-top: 14px;
	font: 17px/24px 'HelveticaNeue', sans-serif;
	letter-spacing: .05em;
	margin-right: 40px;
}
.b-menu-btn:hover {
	color: #ff007e;
}

.b-menu-btn_close {
	display: none;
	z-index: 10;
}
@media (max-width:1250px) {
	.b-menu-btn_close.b-menu-btn_active {
		display: block;
	}
}
.iconize-menu {
	margin-left: 50px;
}
.iconize-menu:before {
	left: -50px;
	background-position: 0 -41px;
	top: -27px;
	width: 40px;
	height: 40px;
}
.iconize-link:hover .iconize-menu:before{
	background-position: 0 -81px;
}
.iconize-close {
	margin-left: 50px;
}
.iconize-close:before {
	left: -50px;
	background-position: -40px -46px;
	top: -23px;
	width: 36px;
	height: 36px;
}
.iconize-link:hover .iconize-close:before{
	background-position: -40px -86px;
}
.b-main-banner {
	height: 330px;
	background: url(/f/i/banner3.gif) repeat-x;
	position: relative;
	margin-bottom: 30px;
}
.b-main-banner__name {
	padding: 140px 0 0 60px;
	float: left;
}
.b-main-banner__title {
	margin: 0 0 5px;
}
.b-main-banner__title span {
	font-size: 20px;
}
.b-main-banner__title a,
.b-main-banner__title a:focus{
	font-size: 50px;
	line-height: 30px;
	letter-spacing: .05em;
	margin: 0;
	font-weight: bold;
}
.b-main-banner__text {
	font-size: 16px;
	line-height: 40px;
	letter-spacing: .2em;
	text-transform: uppercase;
	margin: 0;
}
.b-case__detail {
	width: 50%;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 50px;
}
.b-case__detail-title {
	line-height: 73px;
	margin: 0;
	letter-spacing: .2em;
	font-weight: bold;
	text-transform: uppercase;
}
.b-case__detail-text {
	font: normal 16px/30px 'HelveticaNeue', sans-serif;
	letter-spacing: .05em;
	padding-right: 30px;
	font-weight: lighter;
	margin: 0;
}
.b-info-block {
	margin-bottom: 50px;
}
.b-info-block_untitle {
	padding-top: 30px;
}
.b-info-block__img {
	display: inline-block;
	vertical-align: top;
	padding-right: 40px;	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-width: 790px;
	width: 50%;
}
.b-info-block__img img {
	width: 100%;
	max-width: 760px;
}
.b-info-block__hint {
	font: normal 16px/30px 'HelveticaNeue', sans-serif;
	letter-spacing: .05em;
	display: inline-block;
	vertical-align: top;
	max-width: 230px;
}
@media (max-width: 1279px) {
	.b-info-block__img {
		min-width: 700px;
	} 
}
.b-info-block__hint span {
	font-weight: bold;
}
.b-info-block__title {
	letter-spacing: .2em;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 35px;
}
.iconize-hint {
	margin-top: 50px;
	height: 1px;
	padding: 0;
}
.iconize-hint:before {
	width: 20px;
	height: 25px;
	top: -50px;
	left: 0;
	background-position: -83px -51px;
}
.b-info-block__hint-title {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
	line-height: 30px;
	letter-spacing: .05em;
}
.b-order-project {
	background: url(/f/i/banner4.gif) repeat-x;
	height: 330px;
	padding: 120px 55px 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 60px;
}
.b-order-project__text {
	letter-spacing: .22em;
	text-transform: uppercase;
	font-weight: bold;
	float: left;
}
.b-order-project__text span {
	font-size: 50px;
}
.rub {
	font: normal 16px/30px 'PT Sans', sans-serif;
}
.b-order-project__btn {
	border: 5px solid #000;
	float: right;
	padding: 15px 35px;	
	cursor: pointer;
	background: #fff;
	padding-left: 50px;
	position: relative;
}
.b-order-project__btn:before {
	border: 2px solid #ff007e;
	width: 12px;
	height: 12px;
	border-radius: 10px;
	top: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
	left: 10px;
}
.b-order-project__btn .link {
	font: bold 30px/1em 'GothaPro';
	letter-spacing: .05em;
}
.b-main-banner__img {
	float: right;
	padding: 50px 100px;
}